*{
     margin: 0;
     font-family: 'Poppins', sans-serif;
}
/* header start */
.banner{
     background-image: url(./images/banner/banner3.png);
     background-size: cover;
     background-position: center;
     height: 100vh;
     display: flex;
     align-items: center;
}
.banner-description{
     text-align: right;
     width: 80%;
     margin: 0 auto;
}
.banner-details{
     height: 50vh;
     color: white;
}
.banner-details h1{
     font-size: 60px;
}
.banner-details p{
     font-weight: 100;
}
.btn{
     padding: 20px 30px;
     font-weight: 800;
     font-size: 20px;
     color: #005FAC;
     border-radius: 5px;
     border: none;
     margin: 20px 0;
}
/* header end */
/* failure section start */
.failure-sec{
     display: flex;
     justify-content:center;
     align-items: center;
     margin: 100px 0;
}
.failure-details{
       margin: 0 60px;
}
.failure-details h3{
     font-size: 35px;
}
.failure-details li{
     list-style: none;
     list-style-image: url(./images/check.svg);
     margin: 20px 0;
}
.failure-details p{
     margin-top: 15px;
}
/* failure section end */

/* my plan start */
.plan-title{
     text-align: center;
     font-size: 35px;
     margin: 30px 0;
}
.plans{
     margin: 0 20px;
     text-align: center;
     height: 30vh;
     width: 40vh;
     display: flex;
     justify-content: center;
     align-items: center;
}
.plans h3 {
     font-size: 22px;
     font-weight:bolder
}
.plans h5{
     font-size: 18px;
     font-weight: lighter;
}
.future-plan{
     display: flex;
     justify-content: center;
}
/* my plan end */
/* contact section start */
.contact-sec{
     font-size: 30px;
     background-image: linear-gradient(to left ,rgba(0, 0, 0, 0.1), rgba(14, 106, 227, 0.7)),url(./images/watch.png);
     background-repeat: no-repeat;
     background-size: cover;
     width: 80%;
     margin: 0 auto;
     color: white;
     padding: 20px 30px;
}

/* contact section end */
/* footer start */
.footer-container{
     display: flex;
     height: 70vh;
     justify-content: space-around;
     align-items: center;
     background-color: black;
     margin-top: 150px;
}
.email{
     text-decoration: none;
     color: white;
}
.footer-left{
     color: white;
}
.footer-left h3{
     font-size: 35px;
}
.footer-left p{
     font-weight: lighter;
     padding: 10px 0;
}
.social-icon{
     padding-right: 20px;
     padding-top: 20px;
}
.email-input{
     padding: 20px 50px;
     font-size: 20px;
     border-radius: 8px;
     border: 2px solid white;
     background-color: black;
}
.sub-title{
     font-size: 35px;
     color: white;
     padding: 30px 0;
}
.sub-btn{
     padding: 20px 30px;
     font-weight: 800;
     font-size: 20px;
     color: white;
     border-radius: 5px;
     border: none;
     margin: 20px 0;
     background-color:#005FAC;
}
/* footer end */

/* extra section */
.navbar{
     display: flex;
     list-style: none;
     justify-content: flex-end;
     justify-content:center;
     width: 70%;
     margin: 0 auto;
     justify-content: space-around;
     height: 90px;
     align-items: center;
     color: white;
     font-size: 25px;
     font-weight: lighter;
}
.nav-container{
     background-color: black;
}
